<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8" />
<title>Cracker</title>
<link rel="stylesheet"
	href="https://unpkg.com/purecss@1.0.0/build/pure-min.css"
	integrity="sha384-nn4HPE8lTHyVtfCBi5yW9d20FjT8BJwUXyWZT9InLYax14RDjBj46LmSztkmNP9w"
	crossorigin="anonymous">
<link rel="stylesheet" type="text/css" media="all"
	th:href="@{/css/styles.css}" />
<link rel="stylesheet" type="text/css" media="all"
	th:href="@{/css/comment.css}" />
</head>



<body>
	<div id="content">
		<div class="header">
			<img th:src="@{/img/logo.png}" width=400 height=143 align="left" />
			<div class="header-right">
				<div class="pure-menu pure-menu-horizontal">
					<form class="pure-form" th:action="@{/search}" th:object="${searchForm}"
					method="POST">
						<input class="pure-input-2-3" type="text" th:field="*{text}"
							placeholder="Начните поиск...">
						<button type="submit" class="pure-button">Search</button>
					</form>
					<a th:href="@{/index}" class="pure-menu-heading pure-menu-link">ГЛАВНАЯ</a>
					<ul class="pure-menu-list">
						<li class="pure-menu-item"><a th:href="@{/category}" class="pure-menu-link">Категории</a></li>
						<li class="pure-menu-item"><a th:href="@{/shop}" class="pure-menu-link">Магазин</a></li>
					</ul>

				</div>

			</div>
		</div>
		<div class="featured">
			<div>
				<h2 th:utext="${model.getModelName()}">!!!</h2>
				<h4>Описание:</h4>
				<h4>Список доступных телефонов:</h4>
				<table border="0">
					<tr>
						<th>цвет</th>
						<th>цена</th>
						<th>ссылка на магазин</th>
					</tr>
					<tr th:each="phone : ${model.getPhones()}">
						<td th:utext="${phone.getColor()}">неизвестно</td>
						<td th:utext="${phone.getPrice()}">...</td>
						<td><a th:href="${phone.getLink()}" class="btn btn-danger">Go
								to shop</a></td>
					</tr>
				</table>
				<h4>Комментарии:</h4>
				<p align="right">
					<a th:href="@{addcomment(modelId=${model.getModelId()})}" class="btn btn-danger"  >Добавить комментарий</a>
				</p>
				<div class="dialogbox" th:each="comment : ${model.getComments()}">
					<div class="body">
						<span style="color: gray;"><b th:utext="${comment.getUsername()}">Username</b></span>
						<div class="message">
							<span th:utext="${comment.getText()}">...</span>
						</div>
						<span style="margin-left: 40px; color: gray; font-size: 13px;"><i>оценка:</i></span>
						<span class="tip tip-left"></span> <span
							th:if="${comment.getGrade()}"
							th:each="number: ${#numbers.sequence(1,comment.getGrade())}"
							style="color: gray">&#8226 </span>
							<span style="color: gray" th:utext="(|${comment.getGrade()}|)"></span>
					</div>
				</div>
			</div>
		</div>
		<div class="aside">
			<img width=350 height=350 th:src="${model.getPhones().iterator().next().getPicturelink()}" />
		
		</div>
		<div class="youtube">
			<iframe width=100% height=400px
				src="https://www.youtube.com/embed/koqaUFPfTGE" frameborder="0"
				allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
				allowfullscreen></iframe>
		</div>
		<div class="map">
			<iframe width=100% height=400px
				src="https://www.google.com/maps/d/embed?mid=1v1XTOP10Z6Gdiqznml9355TcewfC7bzd"></iframe>
		</div>
		<div class="footer">
			<p align="right">Group project for NC. March 2019.
			<p>
		</div>
	</div>
	<div class="floating-chat">
	 <input type="image" th:src="@{/img/chat.png}" id="mybutton" onclick="myFunction()" width="35" height="35" align="right">
		<div id="chatframe" style="display:none">
			<iframe src="/chat" width="300" height="400" frameborder="no"></iframe>
		</div>
		<script th:src="@{/js/myjs.js}"></script>
	</div>
</body>
</html>