<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8" />
<title>Cracker</title>
<link rel="stylesheet"
	href="https://unpkg.com/purecss@1.0.0/build/pure-min.css"
	integrity="sha384-nn4HPE8lTHyVtfCBi5yW9d20FjT8BJwUXyWZT9InLYax14RDjBj46LmSztkmNP9w"
	crossorigin="anonymous">
<link rel="stylesheet" type="text/css" media="all"
	th:href="@{/css/styles.css}" />
<link rel="stylesheet" type="text/css" media="all"
	th:href="@{/css/comment.css}" />
</head>



<body>
	<div id="content">
		<div class="header">
			<img th:src="@{/img/logo.png}" width=400 height=143 align="left" />
			<div class="header-right">
				<div class="pure-menu pure-menu-horizontal">
					<form class="pure-form" th:action="@{/search}"
						th:object="${searchForm}" method="POST">
						<input class="pure-input-2-3" type="text" th:field="*{text}"
							placeholder="Начните поиск...">
						<button type="submit" class="pure-button">Search</button>
					</form>
					<a th:href="@{/index}" class="pure-menu-heading pure-menu-link">ГЛАВНАЯ</a>
					<ul class="pure-menu-list">
						<li class="pure-menu-item"><a th:href="@{/category}"
							class="pure-menu-link">Категории</a></li>
						<li class="pure-menu-item"><a th:href="@{/shop}"
							class="pure-menu-link">Магазин</a></li>
					</ul>

				</div>

			</div>
		</div>
		<div class="featured">
			<div>
				<h2>Магазин - Товары - Телефоны</h2>
				<table border="0" align="center">
					<tr>
						<th></th>
						<th>Наименование</th>
						<th>Цена</th>
						<th>Количество</th>
					</tr>
					<tr th:each="model : ${models}">
						<td><img width=70 height=70
							th:src="${model.getPhones().iterator().next().getPicturelink()}"
							alt="No image provided" /></td>
						<td th:utext="${model.getModelName()}">...</td>
						<td th:utext="${model.getPriceMin()}+|-|+${model.getPriceMax()}">...</td>
						<td><a th:href="@{/modelpage(modelId=${model.getModelId()})}"
							class="btn btn-danger" th:text="${model.getNumberOfPhones()}">...</a></td>
					</tr>
				</table>
				<div align="center">
					<a th:href="@{/shop(page=${curPage}-1)}">предыдущая страница</a> <span>...
						cтраница</span> <span th:utext="${curPage}">...</span> <span>из</span> <span
						th:utext="${numOfPages}">...</span> <span>...</span> <a
						th:href="@{/shop(page=${curPage}+1)}">следующая страница</a>
				</div>
			</div>
		</div>
		<div class="aside">
			<img th:src="@{/img/stock_img1.jpg}" />
		</div>
		<div class="youtube">
			<iframe width=100% height=400px
				src="https://www.youtube.com/embed/koqaUFPfTGE" frameborder="0"
				allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
				allowfullscreen></iframe>
		</div>
		<div class="map">
			<iframe width=100% height=400px
				src="https://www.google.com/maps/d/embed?mid=1v1XTOP10Z6Gdiqznml9355TcewfC7bzd"></iframe>
		</div>
		<div class="footer">
			<div class="footer-left">
				<hr>
				<p>Daria Schekotihina https://github.com/teadrunkage</p>
				<p>Maxim Krasikov https://github.com/MaximKrasikov</p>
			</div>
			<div class="footer-right">
				<hr>
				<p>Group project for NC Learning Center. March 2019.</p>
			</div>
		</div>
	</div>

	<div class="floating-chat">
		<input type="image" th:src="@{/img/chat.png}" id="mybutton"
			onclick="myFunction()" width="35" height="35" align="right">
		<div id="chatframe" style="display: none">
			<iframe src="/chat" width="300" height="400" frameborder="no"></iframe>
		</div>
		<script th:src="@{/js/myjs.js}"></script>
	</div>
</body>
</html>